# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/kreddit-frontend/node_modules
/kreddit-server/node_modules
/kreddit-server/build
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/kreddit-frontend/.next
/out/

# production
/build

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

 node_modules
 build